<!doctype html> 
<html lang="en-ie"> 
<head>
  <meta charset="utf-8">
  <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
  <meta name="author" content="Aaron Brady" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="/cm/Concrete/cmun-concrete.css" />
  <style type="text/css">
    body { font-family: "Computer Modern Concrete" }
  </style>
</head>
<body>
  <div class="wrap">
    <header style="text-align: center">
      <h1 style="margin: 0"><a href="/">Shameless Self Promotion</a></h1>
      <p style="font-style: italic">- Aaron Brady -</p>
    </header>
