{{ partial "head.html" . }}
{{ with .Site.Sections.project }}
<h3>Projects</h3>
<main class="posts">
  <article class="post">
    {{ range .Pages }}
        <p><a style="font-weight:bold" href="{{ .Permalink }}">{{ .Title }}</a> <small class="feint">(updated {{ .Date.Format "January 2006" }})</small></p>
    {{ end }}
  </article>
</main>
{{ end }}
{{ with .Site.Sections.journal }}
<h3>Journal</h3>
<main class="posts">
  <article class="post">
    {{ range .Pages.GroupByDate "2006-01" }}
    <h4>{{ .Key }}</h4>
    <blockquote>
    {{ range .Pages }}
        <p><a style="font-weight:bold" href="{{ .Permalink }}">{{ .Title }}</a></p>
    {{ end }}
    </blockquote>
    {{ end }}
  </article>
</main>
{{ end }}
{{ partial "foot.html" . }}
